<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">

    <title>Inicia sesion</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https: //fonts.googleapis.com/css2?" family = "Roboto" wght @ 100 & display= "swap" rel= "stylesheet">
    
    <script src= "https://kit.fonttawesome.com/ed2c01daca.js" crossorigin="anonymous"></script> 
    <link rel= "stylesheet" href= "normalize.css">
    <link href="css/estilos.css" rel= "stylesheet" />
   
  
</head>

<body>
    <header id="inicio">
        <div class="conteiner-1">
        <div id="log-barra">
                <div class="logo"> <a href="/home.html"> <img src = "img/logo-mercado-liebre.svg"  style="max-width:100%;width:50% ;"> </a></div>
        
        <div class="barra">
            <input type = "search" placeholder="Buscá productos, marcas" id="barra-busqueda"/>
            <button id="boton-busqueda"><i class="fas fa-search"></i></button>
        </div>
        
        <h3 class="cuotas"> &#x1F4B8   Compra en cuotas y sin tarjeta de credito </h3>
        </div>
         </div>
        
        <nav>
        <div id="menu">
            <ul class="menu1">
            <li><a class="dropdown-item" href="#">Ofertas |</a></li>
            <li><a class="dropdown-item" href="#">Tiendas Oficiales |</a></li>
            <li><a class="dropdown-item" href="#">Vender |</a></li>
            <li><a class="dropdown-item" href="#">Ayuda </a></li>
        </ul>
        <ul class="menu2">
          
            <li><a class="dropdown-item" href="/register.html"> Crea tu cuenta &#x1F64C  |</a></li>
            <li><a class="dropdown-item" href="/login.html"> Ingresar &#x1F4E5  |</a></li>
            <li><a class="dropdown-item" href="#">Mis compras &#x1F45C  </a></li>
        </ul>
        </div>
        </nav>
         </header>
        
 <main>

    
    <section class= "login2">
      
<form action= "/login.html" method="POST">
    
<h4 class="ingresa">INGRESAR</h4>
<div class= "login">
    
<div class="nombre-usuario">
   <label for="name"></label>
   <input type="text" name= "name" id= "name" autofocus= 1 placeholder="Nombre usuario" required aria-required="true" aria-describedat="form-email.error">
   <span class="invalid-feedback" id="form-email-error"></span>
</div>

<div class="passwordlogin">

   <label for="name"></label>
   <input type="password" name= "password" id= "password" autofocus= 1 placeholder=" Contraseña" >
   <span class="feedback"></span>
</div>
<br>

<div class="button-login">

   <button type="button" class="buttonlogin"><a href="/home.html"
    >Ingresar</a></button>
   <button type="button" class="buttonlogin"><a href="http://localhost:3000/register.html">Registrarse </a></button> </div>

</div>


</div>

</form>

    </section>

   </main>

   
<footer>

    <nav class="footer">
    
    <section id="pagos">
        
        <div id= "pago">  <i class="fas fa-credit-card"></i> </div>
        <h4>Paga con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro! </p>
    
    </section>
    
    <section id="envios">
       
        <div id="envio"> <i class="fas fa-gift"> </i>
        </div>
        <h4>Envio gratis desde $2500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercados Puntos.</p>
    
    </section>
    
    <section id="seguro">
    
        <div id= "seguridad"> <i class="fas fa-user-shield"></i>
        </div>
        <h4>Seguridad, de principio a fin.</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siemore protegid@.</p>
    
    </section>
    
    <br>
    
    <section id="copy"><h4>Copyright © 1999-2020 MercadoLiebre S.L.R. .</h4></section>
    
    </nav>
     
    </footer> 
    
    </body>
    
    </html><Doctype>